*{
    padding: 0px;
    margin: 0px ;
    text-transform: capitalize ;
    box-sizing: border-box ;
    font-family: system-ui ;
}
.parent-div{
  
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
}
.border{
    height: 100%;
    width: 800px;
    border: 3px solid black;
}
.header{
    /* width: 100%; */
    height: 200px;
    margin: 20px 30px 0px 30px;
    /* background-color: #0000007c; */
}
.head-nav-div{
    width: 100%;
    height: 50px;
    display: flex ;
    justify-content: center;
    align-items: start;
}
.child{
    height: 50%;
    width: 50%;
    font-size: 16px;
    font-weight: 600;
}
.dics{
    width: 25px; 
    height: 25px;
    background-color: black ;
}
.nave-first-child{
    display: flex;
    justify-content: start;
    align-items: start ;

}
.nave-second-child{
    display: flex;
    justify-content: end;
    align-items: center;
}
.box{
    height: 25px;
    width: 25px;
    background-color: #000;
    margin-right: 10PX;
    border-radius: 3PX;
}
.small-case{
    text-transform: lowercase;
}
.heading-div{
    width: 100%;
    height: 100px;
    /* background-color: #0000004d; */
    margin-top: 20px;
    /* font-family: sans-serif; */
    text-align: center;
}

.heading-para{
    /* font-size: 30PX; */
    font-family: cursive ;
    font-size: 20px;
    /* position: relative; */
    top: 5px;
}
.large-para{
    font-size: 33px;
}
.heading-under{
    color: rgba(100, 100, 100, 0.623);
    font-size: 13px;
    font-weight: 600;
    position: relative;
    top: 7px;
}
.containner{
    height: auto;
    width: 100%;
    /* background-color: #00000044; */
    display: flex;
}
.bor-top-bottom{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.cont-child1{
    height: auto;
    width: 28%;
    /* background-color: rgba(255, 0, 0, 0.253); */
}
.cont-child2{
    height: auto;
    width: 41%;
    border-left: 3px solid black;
    border-right: 3px solid black;
    /* background-color: rgba(0, 255, 0, 0.219); */
}
.cont-child3{
    height: auto;
    width: 35%;
    /* background-color: rgba(0, 0, 255, 0.253); */
}
.child1{
    height: 25%;

}
.chi-hig{
    height: 14%;
}
.left-padding{
    padding-left: 20px;
}

.child-context{
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.cont-heading-para{
    margin-top: 15px;
}
.cont-para{
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.middle-cont-head{
    height: 42%;
    border-bottom: 3px solid black ;
    padding-bottom: 20px ;
}
.small-cont-para{
    font-size: 15px;
    margin-top: 18px;
}
.middle-cont-foot{
    height: 53%;
    padding: 17px 0px 20px 20px;

}
.mar-top-bot{
    margin: 5px 0px 0px 0px;
}
.blue-color{
    color: rgba(3, 3, 216, 0.733);
    margin-top:  10px;
}
.p{
    margin: 0px 0px 10px 0px;
}
.ol-list{
    list-style: none ;
    margin-top: 7px;
}
li{
    list-style: "- ";
    font-size: 15px ;
}
.footer-div{
    height: auto;
    width: auto;
    padding: 20px;
    display: flex ;
    flex-direction: column ;
    gap: 20px;
}
.footer-cont{
    height: 200px ;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.footer-child{
    width: 300px;
    border-radius: 36px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid;
}
.foot-span{
    color: rgba(0, 0, 0, 0.534);
    }
#copy{
    align-self: center;
    margin: 40px 0;

}